<h1>ADMIN SECTION</h1>
<body onload="listAllProf(),listAllDeptInfo(),listStudCountPerInst()">
    <div>
        <div>
            <h2>List all professors by specified order</h2>
            <input type="checkbox" id="orderName" value="name" onchange="listAllProf()">
            <label for="orderName"> Order by name </label>
            <input type="checkbox" id="orderDept" value="dept_name" onchange="listAllProf()">
            <label for="orderDept"> Order by department</label>
            <input type="checkbox" id="orderSalary" value="salary" onchange="listAllProf()">
            <label for="orderSalary"> Order by salary</label>
        </div>
        <div id="orderProfDiv"></div>
        
        <div>
            <h2>List all departments with their min, max and avg salary</h2>
        </div>
        <div id="allDeptInfoDiv"></div>

        <div>
            <h2>All Instructors and the number of students they teach</h2>
            <label for="sem">Semester: </label>
            <select name="sem" id="semDropDown" onchange="listStudCountPerInst()">
              <option value=1>Fall</option>
              <option value=2>Spring</option>
              <option value=3>Summer</option>
              <option value=4>Winter</option>
            </select>
            <label for="yr">Year: </label>
            <select name="yr" id="yrDropDown" onchange="listStudCountPerInst()">
              <option value=2019>2019</option>
              <option value=2020>2020</option>
              <option value=2021>2021</option>
              <option value=2022>2022</option>
            </select>
        </div>
        <div id="studCountPerInstDiv"></div>
    </div>
</body>