<h1>ADMIN SECTION</h1>
<body onload="listAllProf(),listAllDeptInfo(),listStudCountPerInst()">
    <div>
        <div>
            <h2>List all professors by specified order</h2>
            <input type="checkbox" id="orderName" value="name" onchange="listAllProf()">
            <label for="orderName"> Order by name </label>
            <input type="checkbox" id="orderDept" value="dept_name" onchange="listAllProf()">
            <label for="orderDept"> Order by department</label>
            <input type="checkbox" id="orderSalary" value="salary" onchange="listAllProf()">
            <label for="orderSalary"> Order by salary</label>
        </div>
        <div id="orderProfDiv"></div>
        
        <div>
            <h2>List all departments with their min, max and avg salary</h2>
        </div>
        <div id="allDeptInfoDiv"></div>

        <div>
            <h2>All Instructors and the number of students they teach</h2>
        </div>
        <div id="studCountPerInstDiv"></div>
    </div>
</body>