<html>
    {% for group in request.user.groups.all %}
        {% if group.name == 'student' %}
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/scrollingTable.css' %}">
            <script src="{% static 'scripts/student.js' %}"></script>
            <script src="{% static 'scripts/table.js' %}"></script>
            {% include 'controlPanel/student.html' %}
        {% endif %}
        {% if group.name == 'prof' %}
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/scrollingTable.css' %}">
            <script src="{% static 'scripts/prof.js' %}"></script>
            <script src="{% static 'scripts/table.js' %}"></script>
            {% include 'controlPanel/prof.html' %}
        {% endif %}
        {% if group.name == 'admin' %}
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/scrollingTable.css' %}">
            <script src="{% static 'scripts/admin.js' %}"></script>
            <script src="{% static 'scripts/table.js' %}"></script>
            {% include 'controlPanel/admin.html' %}
        {% endif %}
    {% endfor %}
</html>