<h1>PROFESSOR SECTION</h1>
<body onload="getAllClasses(), listAllSectionInfo()">
    <div>
        <div>
          <h2>Select semester and year to see your courses and the number of enrolled students</h2>
            <label for="sem">Semester: </label>
            <select name="sem" id="semDropDown" onchange="listAllSectionInfo()">
              <option value=1>Fall</option>
              <option value=2>Spring</option>
              <option value=3>Summer</option>
              <option value=4>Winter</option>
            </select>
            <label for="yr">Year: </label>
            <select name="yr" id="yrDropDown" onchange="listAllSectionInfo()">
              <option value=2019>2019</option>
              <option value=2020>2020</option>
              <option value=2021>2021</option>
              <option value=2022>2022</option>
            </select>
        </div>
        <div id="allSecInfoDiv"></div>

        <div>
          <h2>Select course and section to see all enrolled students</h2>
          <label for="courseList">Select course: </label>
          <select name="courseList" id="courseDropDown" onchange="updateSections()"></select>

          <label for="sectionList">Select section: </label>
          <select name="sectionList" id="sectionDropDown" onchange="generateStudentsTable()"></select>
        </div>
        <div id="allStudsInSecDiv"></div>
    </div>
</body>