<h1>PROFESSOR SECTION</h1>
<body onload="getAllClasses()">
    <div>
        <div>
            <button type="button" onclick="listAllSectionInfo()">List each section info</button>
            <label for="sem">Semester: </label>
            <select name="sem" id="semDropDown">
              <option value=1>Fall</option>
              <option value=2>Spring</option>
              <option value=3>Summer</option>
              <option value=4>Winter</option>
            </select>
            <label for="yr">Year: </label>
            <select name="yr" id="yrDropDown">
              <option value=2019>2019</option>
              <option value=2020>2020</option>
              <option value=2021>2021</option>
              <option value=2022>2022</option>
            </select>
        </div>
        <div id="allSecInfoDiv"></div>

        <div>
          <label for="courseList">Select course: </label>
          <select name="courseList" id="courseDropDown" onchange="updateSections()"></select>

          <label for="sectionList">Select section: </label>
          <select name="sectionList" id="sectionDropDown"></select>
        </div>
    </div>
</body>